.descriptionbox {
  margin: 120px 170px;
}

.descriptionbox-navigator {
  display: flex;
}

.descriptionbox-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 171px;
  height: 70px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}

.descriptionbox-nav-box.fade {
  background: #fbfbfb;
  color: #555;
}

.descriptionbox-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 48px;
  padding-bottom: 70px;
}

.descriptionbox-specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.descriptionbox-specs p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

@media (max-width: 1280px) {
  .descriptionbox {
    margin: 60px;
  }
}

@media (max-width: 800px) {
  .descriptionbox {
    margin: 60px 20px;
  }
}
