.shop-category {
    margin-top: 20px;
}

.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    display: flex;
    align-items: center;
}

.sort-dropdown {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #626262;
    cursor: pointer;
}

.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media(max-width: 1280px){
    .shopcategory-products{
        margin: 20px 100px;
    }
    .shopcategory-indexSort{
        margin: 0px 100px;
    }
}

@media(max-width: 1024px){
    .shopcategory-products{
        margin: 20px 50px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .shopcategory-indexSort{
        margin: 0px 50px;
    }
    .shopcategory-banner{
        width: 90%;
    }
}

@media(max-width: 800px){
    .shopcategory-products{
        margin: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .shopcategory-indexSort{
        margin: 0px 20px;
        font-size: 12px;
    }
    .shopcategory-banner{
        width: 95%;
    }
}
