.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
}

.breadcrum a {
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    color: #5e5e5e;
    text-decoration: none;
}

.breadcrum a:hover {
    color: #ff4141;
    transform: scale(1.1);
}

.breadcrum img{
    height: 15px;
}

@media(max-width:1280px){
    .breadcrum{
        margin: 30px 50px;
    }
}

@media(max-width:800px){
    .breadcrum{
        margin: 30px 10px;
        font-size: 14px;
    }
}
